.catalog__item
    a(href='#')
        img(src='/img/iphone-x.png' alt='123').catalog__img

    h2.catalog__title
        a(href='#') Смартфон Apple iPhone 7 32Gb
    .catalog__footer
        .catalog__price 38 500
            <i class="fas fa-ruble-sign"></i>
        .catalog__card
            <i class="fas fa-shopping-cart"></i>