<div class="main-menu">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="menu service">
                    <div class="menu-inner">
                        <div class="hamburger-wrapper">
                            <div class="hamburger"></div>
                        </div>
                        <h3>Сервис</h3>
                    </div>
                    <div class="submenu">
                        <ul>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="menu store">
                    <div class="menu-inner">
                        <h3>Магазин</h3>
                        <div class="hamburger-wrapper">
                            <div class="hamburger"></div>
                        </div>
                    </div>
                    <div class="submenu">
                        <ul>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Item 1
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>